@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@implements IPopupConsumer
@namespace Shooter.UI

@if (PlayerInventory == null) return;

<root>
	<div class="weapon-hud">
		@{
			var Items = PlayerInventory.Items; // cache
		}
		@for (int i = 0; i < gunSlots; i++)
		{
			var item = Items.ElementAtOrDefault(i);
			var weapon = item as IWeapon;

			bool isActive = weapon != null && weapon == PlayerInventory.CurrentWeapon;

			var colour = weapon?.GunData?.Color.Rgb ?? HudColour;
			var style = isActive
				? colour
				: "rgba(255, 255, 255, 0.1)";

			<div class="weapon-slot @(isActive ? "active" : "")" style="border-color: @style;">
				@if (TryGetPopup(out var popup, i))
				{
					<UIPopupCard HudColour="@colour" UIPopup="@popup" FontSize=@(30) Left="@(15)" />
				}
				<div class="slot-number">@(i + 1).</div>

				@if (item != null)
				{
					<div class="icon-container">
						@if (weapon?.Icon != null)
						{
							<img src="@weapon.Icon.ResourcePath" class="weapon-icon" />
						}
						else
						{
							<span>@item.Name</span>
						}
					</div>

					@if (weapon != null && weapon.CooldownFraction < 1.0f)
					{
						<div class="cooldown-overlay">
							<div class="bar" style="width: @(weapon.CooldownFraction * 100)%; background-color: @HudColour;"></div>
						</div>
					}
				}
			</div>
		}
	</div>
</root>

@code
{
	[Property] public PlayerInventory PlayerInventory;

	[Property] public string HudColour { get; set; } = "#FFFFFF";

	private int gunSlots = InventorySlot.Count.AsInt();

	private readonly UIPopup[] activePopups = new UIPopup[InventorySlot.Count.AsInt()];

	TaskSource IPopupConsumer.Task => this.Task;

	void IPopupConsumer.RemovePopup(UIPopup popup)
	{
		// Not the most performant, but is enough for now.
		// If causes performance problems in the future, consider a better alternative.
		int index = System.Array.IndexOf( activePopups, popup);
		if (index != -1)
		{
			activePopups[index] = null;
			StateHasChanged();
		}
	}


	public void OnAmmoAdded(IWeapon weapon, int amount)
	{
		if ( weapon == PlayerInventory.CurrentWeapon || amount <= 0 ) return;

		activePopups[weapon.WeaponType.AsInt()] = new(this, 1.0f) { Amount = amount };
		StateHasChanged();

	}

	protected override int BuildHash()
	{
		var hash = new System.HashCode();
		hash.Add(PlayerInventory?.CurrentItem);

		if (PlayerInventory?.Items != null)
		{
			foreach (var item in PlayerInventory.Items)
			{
				if (item is IWeapon weapon)
				{
					hash.Add(weapon.CooldownFraction);
				}
			}
		}
		return hash.ToHashCode();
	}

	private bool TryGetPopup( out UIPopup uipopup, int index )
	{
		uipopup = activePopups[index];

		return uipopup != null ? true : false;
	}
}
