@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network
@using System.Collections.Generic;
@using UISystem
@inherits UILayer
@namespace Shooter.UI

<root>
    <div class="menu_center">
        <div class="menu_cluster">
            <h1>Join Game</h1>

            @if ( lobbies == null || lobbies.Count == 0 )
            {
                <div class="info_text">No ongoing games</div>
            }
            else
            {
                @foreach ( var lobby in lobbies )
                {
                    <UIButton class="menu_btn" T="string" DisplayValue="@($"{lobby.Name} - {lobby.Members} Players")" ButtonCallback="@(() => JoinLobby(lobby))"></UIButton>
                }
            }

            <div class="spacer"></div>
            <UIButton class="menu_btn action_btn" T="string" DisplayValue="Refresh" ButtonCallback="@Refresh"></UIButton>
            <UIButton class="menu_btn action_btn" T="string" DisplayValue="Create Game" ButtonCallback="@OpenCreateGame"></UIButton>
            <UIButton class="menu_btn back_btn" T="string" DisplayValue="← Back" ButtonCallback="@GoBack"></UIButton>
        </div>
    </div>
</root>

@code
{
    private List<LobbyInformation> lobbies = new();

    public override void Show()
    {
        base.Show();
        GetLobbies();
    }

    private async void GetLobbies()
    {
        lobbies = await Networking.QueryLobbies();
        StateHasChanged();
    }

    private void Refresh()
    {
        GetLobbies();
    }

    private void GoBack()
    {
        UIManager.Instance.ShowLayerWithData<MainMenu>("PlayOptions");

    }

    private void OpenCreateGame()
    {
        UIManager.Instance.ShowLayer<NewLobbyCreator>();
    }

    private void JoinLobby( LobbyInformation lobbyInformation )
    {
        Log.Info( $"Joining lobby {lobbyInformation.LobbyId}" );
        Networking.Connect( lobbyInformation.LobbyId );
    }

    protected override int BuildHash() => System.HashCode.Combine( lobbies?.Count ?? 0 );
}