@using Sandbox;
@using Sandbox.UI;
@using UISystem
@inherits UILayer
@namespace Shooter.UI

<root>
    <div class="main_menu">
        @if (!ShowPlayOptions)
        {
            <div class="menu_cluster">
                <h1>Movement Shooter</h1>
                <UIButton class="menu_btn" T="string" DisplayValue="Play" ButtonCallback="@OpenPlayOptions"></UIButton>
                <UIButton class="menu_btn" T="string" DisplayValue="Settings" ButtonCallback="@OpenSettings"></UIButton>
                <UIButton class="menu_btn" T="string" DisplayValue="Information" ButtonCallback="@ShowInfo"></UIButton>
                <UIButton class="menu_btn" T="string" DisplayValue="Quit" ButtonCallback="@Quit"></UIButton>
            </div>
        }
        else
        {
            <div class="menu_cluster">
                <h1>Play</h1>
                <UIButton class="menu_btn" T="string" DisplayValue="Join Game" ButtonCallback="@OpenLobbyBrowser"></UIButton>
                <UIButton class="menu_btn" T="string" DisplayValue="Create Game" ButtonCallback="@OpenCreateGame"></UIButton>
                <UIButton class="menu_btn back_btn" T="string" DisplayValue="← Back" ButtonCallback="@ClosePlayOptions"></UIButton>
            </div>
        }
    </div>
</root>

@code
{
    public bool ShowPlayOptions { get; set; } = false;

    protected override void OnStart()
    {
        base.OnStart();
        Show();
    }

    public override void Show()
    {
        Mouse.Visibility = MouseVisibility.Visible;
        GameObject.Enabled = true;
        ShowPlayOptions = false; // Reset to main root on show
    }

    public override void Hide()
    {
        GameObject.Enabled = false;
    }

    private void OpenPlayOptions()
    {
        ShowPlayOptions = true;
    }

    private void ClosePlayOptions()
    {
        ShowPlayOptions = false;
    }

    private void OpenLobbyBrowser()
    {
        UIManager.Instance.ShowLayer<LobbyBrowser>();
    }

    private void OpenCreateGame()
    {
        UIManager.Instance.ShowLayer<NewLobbyCreator>();
    }

    private void OpenSettings()
    {
        UIManager.Instance.ShowLayer<SettingsMenu>();
        Log.Info("Settings");
    }

    private void ShowInfo()
    {
        UIManager.Instance.ShowLayer<InfoPage>();
    }

    private void Quit()
    {
        Log.Info( "Quitting game" );
        Game.Close();
    }
}