@using Sandbox;
@using Sandbox.UI;
@using Shooter.UISystem;
@using Shooter.Match;
@inherits UILayer
@namespace Shooter.UI

<root>
    <div class="map-vote-container flex-col">
        <h1>Vote for the Next Map</h1>
        <h3>Current votes: @VotingSystem.Instance.VoteCount</h3>
        <h3>Time left: @VotingSystem.Instance.VotingTimeLeft s</h3>

        <div class="map-list">
            @*
                Use scene.GetMetadata() in the future
            *@
            @foreach ( var option in VotingSystem.Instance.Options )
            {
                <VotingCard
                    Option="@option"
                    Select="@((int ind) => Vote(ind))"
                />
            }

        </div>

        <div class="bottom">
            <UIButton class="" T="string" DisplayValue="Stay" ButtonCallback="@( () => Vote( 0 ) )" />
            <UIButton class="" T="string" DisplayValue="Return" ButtonCallback="@ReturnToMainMenu" />
        </div>
    </div>
</root>

@code
{
    private void Vote(int index)
    {
        VotingSystem.Instance.Vote(index);
    }

    public override void Show()
    {
        Mouse.Visibility = MouseVisibility.Visible;
        GameObject.Enabled = true;
    }

    public override void Hide()
    {
        Mouse.Visibility = MouseVisibility.Hidden;
        GameObject.Enabled = false;
    }

    protected override void OnStart()
    {
        base.OnStart();
        UIManager.Instance.ShowLayer(this);

        VotingSystem.Instance?.OnVote += StateHasChanged;
    }

    protected override int BuildHash() => System.HashCode.Combine(
        VotingSystem.Instance?.Options.Count,
        VotingSystem.Instance.VotingTimeLeft
    );

    private void ReturnToMainMenu()
    {
        Log.Info("Main menu");

        Networking.Disconnect();

        // Once again, make a scene manager
        // Save stats etc. cleanup
        var slo = new SceneLoadOptions { };
        slo.SetScene("/scenes/mainMenu.scene");
        //matchManager.Scene.Clear();
        Scene.Load(slo);
    }
}
